<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Tower Defense</h1>
    <p>Leeroyyy Jenkinnnns!</p>

    <div class="gameFrame">

      <div class="gameMenu">
        $<div class="remainingCredits">CREDITS</div>
        <button id="pause" type="button" name="pause-button">Pause</button>
        <button id="resume" type="button" name="resume-button">Continue</button>
        <button id="place-tower" type="button" name="place-tower-button">Place Tower</button>
        <button id="spawn-wave" type="button" name="spawn-wave-button">Spawn Wave</button>
      </div>

      <div id="display-box">

      </div>
      <button id="new-game" type="button" name="new-game-button">New Game</button>

      <script type="text/javascript" src="/javascripts/socket.io.js"></script>
      <script type="text/javascript">
        var socket = io();
      </script>
      <script type="text/javascript" src="/javascripts/index.js"></script>
    </div>
  </body>
</html>
