<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <input type="hidden" name="gameNumber" value="<%= gameNumber %>">
    <h1>Tower Defense</h1>
    <p>Leeroyyy Jenkinnnns!</p>

    <div class="gameFrame">

      <div class="gameState">
        <div class="remainingCredits"></div>
        <div class="remainingLives"></div>
        <div class="currentWave"></div>
        <div class="nextWave">
          Wave in: <span class="seconds-until-wave">0</span>s
        </div>
        <div class="round-attributes">
          Round <span class="round-number"></span>: <span class='attributes'></span>
        </div>
      </div>
      <div class="gameMenu">
        <button id="pause" type="button" name="pause-button">Pause</button>
        <button id="resume" type="button" name="resume-button">Continue</button>
        <button class="place-tower" type="button" data-towertype="Cannon" name="place-tower-button">Place Cannon</button>
        <button class="place-tower" type="button" data-towertype="Flamethrower" name="place-tower-button">Place Flamethrower</button>
        <button class="place-tower" type="button" data-towertype="MachineGun" name="place-tower-button">Place Machine Gun</button>
        <button class="place-tower" type="button" data-towertype="PlasmaBattery" name="place-tower-button">Place Plasma Battery</button>
        <button id="spawn-wave" type="button" name="spawn-wave-button">Spawn Wave</button>
      </div>
      <button id="new-game" type="button" name="new-game-button">New Game</button>

      <div class="gameDisplay">
        <div id="display-box" style="display: inline-block;"></div><!--
     --><div id="info-panel" class="info-panel">
          <div id="info-panel-name" class="info-panel-header"></div>
          <div id="info-panel-data" class="info-panel-data"></div>
        </div>
      </div>

      <script type="text/javascript" src="/javascripts/socket.io.js"></script>
      <script type="text/javascript">
        var socket = io();
      </script>
      <script type="text/javascript" src="/javascripts/index.js"></script>
    </div>
  </body>
</html>
