body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.remainingCredits {
  display: inline-block;
  width: 120px;
}

.remainingLives {
  display: inline-block;
  width: 120px;
}

.currentWave {
  display: inline-block;
  width: 120px;
}

.disabled {
  pointer-events: none;
  opacity: 0.3;
}

.unit img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.unit .hitPointsBar {
  bottom: 0;
  position: absolute;
  color: black;
}
